.navbar-brand--size {
  img {
    max-height: 2.5rem;
  }
}

.bg-translucid {
  background-color: rgba(255, 255, 255, 0.9);
  transition: ease-in-out 400ms;
  a.nav-link {
    color: $primary_color;
    font-weight: 600;
    &::after {
      content: " ";
      transition: ease-out 400ms;
      display: block;
      float: left;
      position: relative;
      width: 0%;
      height: 2px;
      background-color: $primary_color;
    }

    @include media-breakpoint-down(md) {
      &::after {
        content: none;
        display: none;
      }
    }
  }
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    .nav-link {
      color: $gray;
      &:hover,
      &:active {
        text-decoration: none;
        color: $primary_color;
        &::after {
          content: " ";
          display: block;
          float: left;
          position: relative;
          width: 100%;
          height: 2px;
          background-color: $primary_color;
        }
      }
    }
  }
}
.navbar-toggler {
  background-color: $primary_color;
  border: 1px solid $primary_color;
}
