.backgroundImg {
  background: url("/images/Background.jpg") no-repeat top;
  background-size: cover;
}
.high-borders {
  border-radius: 14% 8%0 0;
}
.illustration {
  // margin-bottom: -2.5em;
  &__first {
    margin-bottom: -5.5rem;
    // @include media-breakpoint-up(sm) {
    // }
    // @include media-breakpoint-up(md) {
    // }
    // @include media-breakpoint-up(lg) {
    // }
  }

  &--width {
    &-41 {
      width: 41.66%;
      @include media-breakpoint-down(md) {
        width: auto;
      }
    }
    &-33 {
      width: 33.33%;
      @include media-breakpoint-down(md) {
        width: auto;
      }
    }
  }
}
