$primary_color: #376c71;
$p_light_color: #659a9f;
$p_dark_color: #062f32;

$secondary_color: #f8baac;
$s_light_color: #ffffee;
$s_dark_color: #cb9b8c;

$yellow: #f3eda1;
$y_light: #f1f1ed;

$white: #ffffff;
$gray: #aeaeae;
$black: #292929;
